---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<a
  class="py-2 block border-b-2 border-transparent hover:border-blue-500 hover:text-blue-500 focus:outline-none focus:bg-yellow-400 focus:border-current"
  href="#0"
>
  {name}
</a>
